POSTGRES_DB=alpr
POSTGRES_USER=alpr
POSTGRES_PASSWORD=alpr
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

API_PORT=8000
REDIS_URL=redis://redis:6379/0

JWT_SECRET=troque-essa-chave-em-producao
ACCESS_TOKEN_MINUTES=15
REFRESH_TOKEN_DAYS=7
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin123
